body{
	background: url(https://external-preview.redd.it/P-PHShfKdIL4NaoOD1UJoLqTyiZYYV-bAyuZMND8Sjs.jpg?auto=webp&s=d83d7d24877010d43495418b199fe70c4ef8696c);
    background-size: cover;
    background-position: center; 
    font-family: Lato;
    overflow-x: hidden;
}

html{
	height: 100%;
}
#content{
	text-align: center;
	padding-top : 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
h1{
	font-weight: bold;
	font-size : 5em;
	color:white;
}
h3{
	color:white;
}
hr{
	width : 500px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.nounderline {
  text-decoration: none !important
}
